<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>NKP Demo</title>
    <link rel="stylesheet" href="/static/pico.min.css">
</head>

<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong>NKP Demo</strong></li>
            </ul>
            <ul>
                <li><a href="#" class="secondary">Home</a></li>
                <li><a href="#" class="secondary">Features</a></li>
                <li><a href="#" class="secondary">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="container" style="max-width: 1000px;">
        <section>
            <article class="card ce" style="border-radius: 25px;padding :20px;">
                <header style="padding:0px"><img src="/static/Picture1.jpg" alt="Minimal landscape"></header>
                <h1>Hello from NKP Demo!</h1>

                <p>App Version: <strong>{{ version }}</strong> (Build: <strong>{{ build }}</strong>)</p>


            </article>

        </section>
        <!-- Footer -->
        <footer class="container-fluid">
            <p>&copy; 2026 NKP Demo. All rights reserved.</p>
        </footer>

    </main>

</body>

</html>